{% extends 'service/index.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Клиенты</h1>
</div>
<div class="col-12 mb-3">
    <a class="btn btn-outline-primary col-12" href="{% url 'service:create_client' %}">Добавить клиента</a>
</div>
<div class="row text-center mt-3">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Клиент "{{ object.email }}"</h4>
            </div>
            <div class="card-body">
                {% if object.middle_name %}
                   <div class="card-text">ФИО: {{ object.surname }} {{ object.name }} {{ object.middle_name }}.</div>
                {% else %}
                   <div class="card-text">ФИ: {{ object.surname }} {{ object.name }}.</div>
                {% endif %}
                <a href="{% url 'service:delete_client' object.pk %}" type="button"
                   class="btn btn-lg btn-block btn-outline-danger mt-3">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}