{% extends 'service/index.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылки</h1>
</div>
<div class="row text-center mt-3">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рассылка "{{ object.mail_theme }}"</h4>
            </div>
            <div class="card-body">
                <div class="card-text">Дата рассылки: {{ object.mailing_time }}.</div>
                <a href="{% url 'service:detail_mailing' object.pk %}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary mt-3">Подробнее</a>
                <a href="{% url 'service:update_mailing' object.pk %}" type="button"
                   class="btn btn-lg btn-block btn-outline-warning mt-3">Изменить</a>
                <a href="{% url 'service:delete_mailing' object.pk %}" type="button"
                   class="btn btn-lg btn-block btn-outline-danger mt-3">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}