{% extends 'service/index.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Материал "{{ object.title }}"
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.overview }}
                    </p>
                </div>
                <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        Просмотры: {{ object.view_counter }}
                    </div>
                    <div class="right-button">
                        <a onclick="goBack()" class="btn btn-warning mt-2">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}