<div class="flex-shrink-0 p-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Меню</span>
    </a>
    <ul class="list-unstyled ps-0">
        {% if user.is_superuser %}
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    Админ. панель
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'admin:index' %}"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Панель
                            менеджера</a></li>
                    </ul>
                </div>
            </li>
        {% endif %}

        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Рассылки
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'service:create_mailing' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">Создать рассылку</a>
                    </li>
                    <li><a href="{% url 'service:list_mailing' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">Список рассылок</a>
                    </li>
                    <li><a href="{% url 'service:clients_list' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">Список клиентов</a>
                    </li>
                    <li><a href="{% url 'service:mailing_logs_list' %}"
                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">Отчеты</a></li>
                </ul>
            </div>
        </li>

        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Пользователь
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'users:register' %}"
                               class=" link-body-emphasis d-inline-flex text-decoration-none rounded">Регистрация</a>
                        </li>
                        <li><a href="{% url 'users:login' %}"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Войти</a></li>
                    {% else %}
                        {% if not user.is_email_active %}
                            <li><a href="{% url 'users:email_verify' %}"
                                   class=" link-body-emphasis d-inline-flex text-decoration-none rounded">Подтвердить
                                email</a></li>
                        {% endif %}
                        <li><a href="{% url 'users:logout' %}"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">Выйти</a></li>
                    {% endif %}
                </ul>
            </div>
        </li>

        <li class="border-top my-3"></li>
    </ul>
</div>
