<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">RedDeadMail</h5>
    <nav class="ms-auto">
        {% if user.is_superuser %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'admin:index' %}">Панель менеджера</a>
        {% endif %}
        {% if not user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
        {% else %}
            {% if not user.is_email_active %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:email_verify' %}">Подтвердить Email</a>
            {% endif %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
        {% endif %}
        <a class="p-2 btn btn-outline-primary" href="/">Главная</a>
        {% if user.is_authenticated %}
            {% if not user.is_superuser %}
               <a class="p-2 btn btn-outline-primary" href="{% url 'service:create_mailing' %}">Создать рассылку</a>
               <a class="p-2 btn btn-outline-primary" href="{% url 'service:list_mailing' %}">Список рассылок</a>
               <a class="p-2 btn btn-outline-primary" href="{% url 'service:clients_list' %}">Список клиентов</a>
            {% endif %}
            <a class="p-2 btn btn-outline-primary" href="{% url 'service:mailing_logs_list' %}">Отчеты</a>
        {% endif %}
    </nav>
</div>